name: Express app on aws-eks

on:
  push:
    branches:
      - 'main'

jobs:
  push_and_deploy:
    name: push to aws-eks
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.15.0
        id: install

      - name: aws configure
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: ap-south-1

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      

      - name: print
        run: |
                echo "ECR Registry URL: ${{ steps.login-ecr.outputs.registry }}"


      - name: Build and push
        env: 
          registry: ${{ steps.login-ecr.outputs.registry }}
          repository: eks-registry
          image_tag: 1.1
        run: | 
          docker build -t 187386332334.dkr.ecr.ap-south-1.amazonaws.com/eks_registry:${{ github.sha }} .
          echo $registry
          echo $repository
          docker push 187386332334.dkr.ecr.ap-south-1.amazonaws.com/eks_registry:${{ github.sha }}

     
    
      - name: update image
        run: |
                git config --global user.email "vaishnavi.korgaonkar@wohlig.com"
                git config --global user.name "Vaishnavi"

                git clone https://github.com/Vaishnavi20011225/express-eks.git
                cd express-eks
                
                git remote set-url origin https://Vaishnavi20011225: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@github.com/Vaishnavi20011225/express-eks.git
                
                git checkout main
                
                yq e '.spec.template.spec.containers[0].image = "187386332334.dkr.ecr.ap-south-1.amazonaws.com/eks_registry:${{ github.sha }}"' manifests/deployment.yaml -i
                
                
                git status
                git add .
                git commit -m "update new image"
               
                echo "Git User Email: $(git config user.email)"
                echo "Git User Name:  $(git config user.name)"
                
                git status
                echo "Git User Email: $(git config user.email)"
                echo "Git User Name:  $(git config user.name)"
                git push 
                echo "Git User Email: $(git config user.email)"
                echo "Git User Name:  $(git config user.name)"
                
                git status
                
              
     
